nav{
    padding: 0.5rem;
    background-image: linear-gradient(to right, rgb(0, 72, 255) , rgb(0, 162, 255));
}

nav ul{
    float: right;
}

nav li{
    display: inline-block;
    margin-left: 2rem;
    margin-right: 0.3rem;
}