<ul class="list-group list-group-horizontal">
    <li class="list-group-item bg-secondary bg-gradient ">First Name</li>
    <li class="list-group-item bg-secondary bg-gradient ">Last Name</li>
    <li class="list-group-item bg-secondary bg-gradient ">Email</li>
    <li class="list-group-item bg-secondary bg-gradient ">Country</li>
    <li class="list-group-item bg-secondary bg-gradient ">Gender</li>
  </ul>

  <ul *ngFor="let user of users" class="list-group list-group-horizontal-sm w-100">
    <li class="list-group-item">{{user.firstName}}</li>
    <li class="list-group-item">{{user.lastName}}</li>
    <li class="list-group-item">{{user.email}}</li>
    <li class="list-group-item">{{user.country}}</li>
    <li class="list-group-item">{{user.gender}}</li>
  </ul>


