<div style="text-align:center">
  <h1>
    <!-- Welcome to {{ name }}!
  </h1>
  <input type="text" [(ngModel)]="name">
  <app-server></app-server> -->

  <!-- <div app-server >
  </div> -->

  <!-- <div class="app-server"></div> -->
  <div class="my-3">
    <button class="btn btn-primary" (click)="clicked()">Click Me</button>
    <button class="btn btn-primary" (click)="clickedCancel()">Cancel</button>
  </div>
 
  <!-- <div id="host" class="app-success-alert">
  </div> -->

  <div class="app-success-alert"></div>
  <div class="app-warining-alert"></div>
  
  <!-- <div id="host1" [ngClass]="{app-success-alert : flag} "> aaa</div> -->

  <!-- <div app-success-alert></div> -->

 
