h5 h4 h3 h6{
    font-family: "Raleway", sans-serif;
}

.confirmBooking {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 14px 32px;
    border-radius: 4px;
    line-height: 1;
    color: #fff;
    background: #d9232d;
    text-decoration: none;
    
  }

  .confirmBooking:hover {
  
background-color: #f80404;

  }
