.container-item{
    background-image: url(https://wallpapercave.com/wp/Ro5vaML.jpg);
    background-repeat: no-repeat;
    background-position: 100%;
   background-size: 100%;
}

label{
    color: white;
}

h3{
    color:whitesmoke;
}
