<!-- <div class="container-item active">
    <div class="container d-flex justify-content-center">
      <div class="d-flex flex-column p-5 m-5 bg-light border rounded">
        <h5>Forgot Your Password? No worries Reset Here!</h5>
  
        <form [formGroup]="forgotPasswordForm">
          <div>
            <label for="username"><strong>User Name (Email ID):</strong></label>
  
            <input
              type="text"
              class="form-control"
              placeholder="User Name"
              name="username"
              placeholder="username"
              formControlName="username"
            />
  
            <label for="phoneNumber" class="form-label"
              ><strong>Phone Number:</strong></label
            >
  
            <input
              type="text"
              class="form-control"
              placeholder="Phone Number"
              name="phoneNumber"
              formControlName="phoneNumber"
              id="phoneNumber"
            />
            <label for="password" class="form-label">New Password:</label>
  
            <input
              type="password"
              class="form-control"
              formControlName="newPassword"
              id="newPassword"
              placeholder="New Password"
              name="password"
            />
            <label for="confirmPassword" class="form-label"
              >Confirm New Password:</label
            >
  
            <div
              *ngIf="
                forgotPasswordForm.controls['newPassword'].value !==
                  forgotPasswordForm.controls['confirmNewPassword'].value &&
                forgotPasswordForm.controls['confirmNewPassword'].touched
              "
              class="alert"
            >
              *Password did not matched
            </div>
            <input
              type="password"
              class="form-control"
              formControlName="confirmNewPassword"
              id="confirmNewPassword"
              placeholder="Confirm New Password"
              name="confirmNewPassword"
            />
          </div>
        </form>
        <div class="d-flex justify-content-center m-3">
          <button class="btn btn-self">Reset</button>
        </div>
      </div>
    </div>
  </div>
   -->

   <div class="container-item active">
    <div class="container d-flex justify-content-center">
      <div class="d-flex flex-column p-5 m-5 bg-light border rounded">
        <h5>Forgot Your Password? No worries Reset Here!</h5>
  
        <form [formGroup]="forgotPasswordForm">
          <div>
            <label for="username"><strong>User Name (Email ID):</strong></label>
  
            <input
              type="text"
              class="form-control"
              placeholder="User Name"
              name="username"
              placeholder="username"
              formControlName="userName"
            />
  
            <label for="phoneNumber" class="form-label"
              ><strong>Phone Number:</strong></label
            >
  
            <input
              type="text"
              class="form-control"
              placeholder="Phone Number"
              name="phoneNumber"
              formControlName="phoneNumber"
              id="phoneNumber"
            />
            <div *ngIf="isVerified">
            <label for="password" class="form-label">New Password:</label>
  
            <input
              type="password"
              class="form-control"
              formControlName="newPassword"
              id="newPassword"
              placeholder="New Password"
              name="password"
            />
            <label for="confirmPassword" class="form-label"
              >Confirm New Password:</label
            >
  
            <div
              *ngIf="
                forgotPasswordForm.controls['newPassword'].value !==
                  forgotPasswordForm.controls['confirmNewPassword'].value &&
                forgotPasswordForm.controls['confirmNewPassword'].touched
              "
              class="alert"
            >
              *Password did not matched
            </div>
            <input
              type="password"
              class="form-control"
              formControlName="confirmNewPassword"
              id="confirmNewPassword"
              placeholder="Confirm New Password"
              name="confirmNewPassword"
            />
          </div>
          </div>
        </form>
        <div class="d-flex justify-content-center m-3">
          <button *ngIf="flag2" (click)="reset()" class="btn btn-primary">Confirm</button>
          <button *ngIf="flag" (click)="changePassword()" class="btn btn-primary">Reset</button>
        </div>
      </div>
    </div>
  </div>
  