

<section class="table-container">
    <h1>Registered Details</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Employee ID</th>
            <th> Name</th>
            <th>Mobile</th>
            <th>Email</th>
            <th>Department</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td>{{record[0]}}</td>
            <td>{{record[1]}}</td>
            <td>{{record[2]}}</td>
            <td>{{record[3]}}</td>
            <td>{{record[4]}}</td>
        </tr>
    </tbody>
    </table>
</section>









