.form-container{
    margin: 1rem auto auto 5rem;
    width: 65%;
    
    /* border-radius: 12px;
    background-color: /*#347355* #3B8C66 #223240 #F2CB05;
    color: #267365;
    box-shadow: 12px 12px 2px 1px #347355;   */
    
}