
<section class="form-container">
    <h1>Login</h1>
    <form [formGroup]="loginForm">
        <fieldset>
            <label for="id">UserID</label>
            <input id="Id" type="text"formControlName="userID" class="form-control" placeholder="Your Name">
            <label for="password">Password</label>
            <input id="password" type="password"formControlName="password" class="form-control" placeholder="Password">
            <button type="submit" class="btn btn-primary form-control" (click)="validate()">Submit</button>
            <!-- <button [routerLink]="'registration'" type="submit" class="btn btn-primary form-control" (click)="validate()">Submit</button> -->
            
        </fieldset>
    </form>
</section>
<router-outlet></router-outlet>
