.form-container{
    margin: 5rem auto;
    width: 65%;
    padding: 2rem 5%;
    border-radius: 12px;
    background-color: /*#347355* #3B8C66 #223240*/ #F2CB05;
    color: #267365;
    box-shadow: 12px 12px 2px 1px #347355;  
    
}

.form-container input{
    margin: 5px 0;
    border:1px solid #267365 ;
}
.form-container button{
    margin: 10px 10px;
    align-self: center;
    width: auto;
}
h1{
    margin: 10px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color : #044040;
}
.warning{

    color: red;
    font-size: small;
}